__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/
.env
.env.*
*.env
.vscode/
.idea/
.DS_Store
thumbs.db
*.log
coverage.xml
.coverage
.coverage.*
dist/
build/
node_modules/
unity/db.sqlite3
unity/staticfiles/
unity/gunicorn.ctl
unity/unity/credenciales.txt
